{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>community</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/community.css' %}"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <img src="../static/images/SafeSpace Logo.png"/>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'resources' %}">Resources</a></li>
                    <li><a href="{% url 'community' %}">Find Communities</a></li>
                    <li><a href="{% url 'getinvolved' %}">Get Involved</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="title">
                <h1>Find Communities</h1>
                <h3>Don't fight this battle alone</h3>
            </div>
            <div class="aapi">
                <h2>Mental Health Communities for AAPI</h2>
                <p><a href="">Mental Health Facts</a>: American Psychiatric Association mental health fact sheet for AAPI populations
                <p><a href="https://www.facebook.com/groups/subtleasianmentalhealth/?link=group">Subtle Asian Mental Health Facebook Group</a></p>
                <p><a href="https://www.vanityfair.com/style/2021/04/10-essential-podcasts-from-aapi-creators">10 Essential Pocasts from AAPI Creators</a></p>
                <p><a href="https://www.asianmhc.org/mental-health-mukbang/">Mental Health Mukbang</a></p>
            </div>
            <div class="aa">
                <h2>Mental Health Communities for Black and African Americans</h2>
                <p><a href="https://www.thevillagepath.org/podcast">The Black MenTell Podcast</a>
                <p><a href="https://therapyforblackmen.org/blog/">Therapy for Black Men Blog</a></p>
                <p><a href="https://therapyforblackgirls.com/podcast/">Therapy for Black Girls Podcast</a></p>
                <p><a href="https://www.instagram.com/depressedwhileblack">Depressed While Black Instagram</a></p>
                <p><a href="https://m.facebook.com/groups/1165551770477147?bac=MTU5MjM5OTcxMjoxMTc3NTA2MjU5MjgxNjk4OjExNzc1MDYyNTkyODE2OTgsMCwwOjIwOkt3PT0%3D&multi_permalinks">Black Mental Health Facebook Group</a></p>
                <p><a href="https://www.justdavia.com/blog/15-mental-health-podcasts-for-people-of-color">15 Pocasts for POC</a></p>
            </div>
            <div class="latinx">
                <h2>Mental Health Communities for Hispanic and Latinx</h2>
                <p><a href="https://hiplatina.com/latinx-podcasts-mental-health/">8 Latinx Mental Health Podcasts</a>
                <p><a href="https://latinxtherapy.com/podcast/">LatinxTherapy Podcast</a></p>
                <p><a href="https://www.latinxmhpodcast.com/">Latinx Mental Health Podcast</a></p>
                <p><a href="https://www.facebook.com/therapyforlatinx/">Therapy for Latinx Facebook Group</a></p>
                <p><a href="https://www.justdavia.com/blog/15-mental-health-podcasts-for-people-of-color">15 Pocasts for POC</a></p>
            </div>
        </div>
         <div class="footer">
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Resources</li>
                    <li>Find Communities</li>
                    <li>Get Involved</li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>