nav ul li {
    list-style:  none;
}

.header nav ul {
    margin-top: 49px;
    float: right;
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

nav {
    background-color: #FFF;
  }

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
  align-items: center;
}

.header img {
    height: 10%;
    width: 10%;
}