nav ul li {
    list-style:  none;
}

.header nav ul {
    margin-top: 49px;
    float: right;
}

.footer nav ul{
    margin: auto;  
    margin-left: 25vw;
    margin-top: 40px;
    margin-bottom: 40px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

nav {
    background-color: #FFF;
  }

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
  align-items: center;
}

.header img {
    height: 10%;
    width: 10%;
}

h1 {
  font-size: 56px;
  font-weight: bold;
  background-color: #062c43;
  color: #FFF;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

h3 {
  text-align: center;
  background-color:#9ccddc;
  color: #FFF;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}