<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
</head>
<body>
   <div class="container">
        <div class="header">
            <nav>
                <img src="../static/images/SafeSpace Logo.png"/>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Resources</li>
                    <li>Find Communities</li>
                    <li>Get Involved</li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="welcome">
                <h1 class="title">Welcome to a SafeSpace</h1>
                <p>A space for all.</p>
            </div>
            <div class="why">
                <h2 class="title">WHY?</h2>
                <div class="paragraph">
                    <p>SafeSpace seeks to make mental health resources accessible to underrepresented communities through technology. We aspire to help the communities we are apart of in a battle we all fight.</p>
                </div>
                <a class="btn btn-primary" href="about.html" role="button">Learn More</a>
            </div>
            <div class="bar">
                <ul class="container">
                    <li class="col-sm-4 blue">Resources</li>
                    <li class="col-sm-4 teal">Find Communities</li>
                    <li class="col-sm-4 gray">Get Involved</li>
                </ul>
            </div>
        </div>
        <div class="footer">
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Resources</li>
                    <li>Find Communities</li>
                    <li>Get Involved</li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>