<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resources</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/resources.css"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <img src="../static/images/SafeSpace Logo.png"/>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Resources</li>
                    <li>Find Communities</li>
                    <li>Get Involved</li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="title">
                <h1>Resources</h1>
            </div>
            <div class="resource">
                <h2>Essential Mental Health Resources</h2>
                <p><a href="https://screening.mhanational.org/screening-tools/">Mental Health American Screening Tools</a>: Mental Health screening tools from MHA</p>
            </div>
            <div class="aapi">
                <h2>Mental Health Resources for AAPI</h2>
                <p><a href="https://www.psychiatry.org/File%20Library/Psychiatrists/Cultural-Competency/Mental-Health-Disparities/Mental-Health-Facts-for-Asian-Americans-Pacific-Islanders.pdf">Mental Health Facts</a>: American Psychiatric Association mental health fact sheet for AAPI populations</p>
                <p><a href="https://www.asianmhc.org/therapists-us/">Asian Mental Health Collective US Therapist Directory</a>: Asian Mental Health Collective's directory of Asian American Therapists</p>
                <p><a href="https://asiansformentalhealth.com/">Asian Mental Health US Therapist Directory</a>: Asians for Mental Health's therapist directory</p>
                <p><a href="https://southasiantherapists.org/">South Asian Therapists Directory</a></p>
                <p><a href="https://www.aadinitiative.org/resources">Asian Americans with Disabilities Initiative Resources Guide</a>: Created to combat ableism in the AAPI community with first-person testimonies and peer-reviewed research</p>
                <p><a href="https://aapaonline.org/publications/fact-sheets/">Asian American Psychological Association Fact Sheets</a>: Asian American Psychological Association list of fact sheets for AAPI populations</p>
                <p><a href="https://www.goodreads.com/list/tag/asian-american">Asian American Book Lists</a></p>
                <p><a href="https://www.amazon.com/We-Were-Dreamers-Immigrant-Superhero/dp/0063046490">We Were Dreamers: An Immigrant Superhero Origin Story</a>: Simu Liu's book</p>
                <p><a href="https://aahiinfo.org/aahi-resources/">Asian American Health Initiative Online Resources</a>: Mental Health Info Comics for Asian Americns with 5 different translations, Self-Care videos, graphics, and more</p>
            </div>
            <div class="aa">
                <h2>Mental Health Resources for Black and African Americans</h2>
                <p><a href="https://www.psychiatry.org/File%20Library/Psychiatrists/Cultural-Competency/Mental-Health-Disparities/Mental-Health-Facts-for-African-Americans.pdf">Mental Health Facts</a>: American Psychiatric Association mental health fact sheet for Black and African American populations</p>
                <p><a href="https://providers.therapyforblackgirls.com/">Therapy for Black Girls Directory</a>: Therapist directory for Black Women</p>
                <p><a href="https://therapyforblackmen.org/therapists/">Therapy for Black Men</a>: Therapist directory for Black men</p>
                <p><a href="https://www.blackfemaletherapists.com/directory/?filter_location_location=96&filter_location_address%5Btext%5D=louisville&filter_location_address%5Bradius%5D=10&filter=1&sort=post_published">Black Female Therapist Directory</a></p>
                <p><a href="https://blackmenheal.org/">Black Men Heal</a>: Providing access to mental health treament and education to black men</p>
                <p><a href="https://www.thevillagepath.org/">The Village PATH</a>: St. Louis based Mental Health organization providing clinical and group therapy to black men</p>
                <p><a href="https://reedsy.com/discovery/blog/african-american-literature">Black American Book Lists</a></p>
                <p><a href="https://adaa.org/find-help/by-demographics/black-african-american-communities">Resource Guide from Anxiety and Depression Association of America</a>: Contains resources including personal stories from the community, understanding mental health stigmas, how to choose a therapist, and understanidng depression and anxiety</p>
                <p><a href="https://borislhensonfoundation.org/resource-guide/">Boris Henson Foundation Resource Guide</a>: Directory of Mental Health providers with support groups, digital content, educational programs, and emergency hotlines</p>
                <p><a href="https://beam.community/wellness-tools/">Black Emotional and Mental Health Toolkit</a>: Trainings, webinars, and mental health guides for free</p>
            </div>
            <div class="latinx">
                <h2>Mental Health Resources for Hispanic and Latinx</h2>
                <p><a href="https://www.psychiatry.org/File%20Library/Psychiatrists/Cultural-Competency/Mental-Health-Disparities/Mental-Health-Facts-for-Hispanic-Latino.pdf">Mental Health Facts</a>: American Psychiatric Association mental health fact sheet for Hispanic/Latinx populations</p>
                <p><a href="https://screening.mhanational.org/screening-tools/test-de-depresion/">MHA Depression Screening (Spanish)</a></p>
                <p><a href="https://mhanational.org/recursos-en-espanol">MHA Resourses in Spanish</a></p>
                <p><a href="https://latinxtherapy.com/">Latinx Therapy Directory</a></p>
                <p><a href="https://www.therapyforlatinx.com/search_results">Therapy for Latinx Directory</a></p>
                <p><a href="https://www.therapyforlatinx.com/reading-list">Therapy for Latinx Reading List</a></p>
                <p><a href="http://thefocusonyou.com/">Focus on You Mental Health Blog</a>: self-care and mental health blog for Latinx populations created by a Latina therapist</p>
            </div>
        </div>
         <div class="footer">
            <nav>
                <ul>
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Resources</li>
                    <li>Find Communities</li>
                    <li>Get Involved</li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>